@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="container py-5">
    <h2>@Localizer["LoggedInMessage"]</h2>

    <p>
        <a href="https://drive.google.com/uc?export=download&id=1W9eAN7abjnFmx1kyLrmERZn-nR9-x1UH" download>
            Завантажити Android-додаток (.apk)
        </a>

    </p>
</div>
